/* Code made by Max Vilà Ruiz */



/* GLOBAL PART */

/* Global */
:root{
    --yellow: #f0dd78;
    --gray: rgb(150, 148, 148);
    --blue: #00438D;
    --adress-blue: rgb(75, 155, 245);
    --border-input: rgba(196, 193, 193, 0.9);
    --background-color: rgba(240, 240, 240, 0.850);
    --background-color_header: rgba(240, 240, 240, 0.5);
    --primary-font: 'Sora', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Texts */
h1{
    font-weight: 600;
    text-align: center;
}
h2{
    font-size: 2.5rem;
    font-weight: 300;
    font-style: oblique;
    text-align: center;
    color: var(--blue);
}
p{
    font-family: var(--primary-font);
}
.titles{
    font-size: 3rem;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    font-family: 'Patua One', cursive;
}
.description{
    text-align: center;
    padding-bottom: .9rem;
    padding-top: .9rem;
    background-color: white;
}
@media(max-width: 768px){
    h2{
        font-size: 2rem;
    }
    .titles{
        font-size: 2rem;
    }
    .titles_indexLogin{
        font-size: 2.5rem;
    }
}

/* Backgrounds & Images */
.body{
    background-color: var(--background-color);
}
.header{
    background-image: url(../img/background-img.jpg);
    background-size: cover;
    position: relative;
}
@media(max-width: 768px){
    .header{
        background-image: url(../img/background-img-mobile.jpg);
    }
}
.header_backGroundImg{
    background-color: var(--background-color_header);
}

/* Inputs */
input{
    border: solid 1px var(--border-input);
    font-family: var(--primary-font);
}
input::placeholder{
    padding-left: .5rem;
    font-family: var(--primary-font);
    font-size: 1.5rem;
    color: var(--gray);
}

/* Buttons */
.button{
    color: white;
    background-color: var(--blue);
    border: none;
}
.button:hover{
    transition: 0.2s;
    font-size: 220%;
    cursor: pointer;
}





/* INDEX */

/* Adresses */
.aGroup_index{
    display: grid;
    justify-content: center;
    padding-top: 9rem;
    padding-bottom: 10rem;
    gap: .75rem;
}
@media (max-width: 768px){
    .aGroup_index{
        padding-top: 6rem;
        padding-bottom: 13.15rem;
    }
}
.a_index{
    font-size: 1.5rem;
    padding: 1.25rem 6rem;
    text-decoration: none;
    border-radius: 1.25rem;
    color: white;
    background-color: var(--blue);
    font-family: var(--primary-font);
}
.a_index:hover{
    transition: .25s;
    scale: 1.1;
}





/* LOG IN & REGISTER */

/* Forms */ 
.formLogReg_other{
    display: flex;
    justify-content: center;
    margin-top: .5rem;
    font-size: 1.2rem;
    gap: .5rem;
    font-family: var(--primary-font);
}
@media(max-width: 768px){
    .main_loginReg{
        padding: 2rem;
    }
    .formLogReg_other{
        font-size: 1rem;
    }
}

/* Adresses */
.a_formLogReg_other{
    color: var(--adress-blue);
    text-decoration: none;
}
.a_formLogReg_other:hover{
    cursor: pointer;
    text-decoration: underline;
}

/* Inputs */
.input_LogReg{
    font-size: 1.9rem;
}

/* Buttons */
.button_LogReg{
    font-size: 1.75rem;
    padding: 0.5rem;
}





/* LOG IN */

/* Forms */
.form_login{
    margin-top: 9rem;
    gap: 1rem;
    display: grid;
    justify-content: center;
}
@media (max-width: 768px){
    .form_login{
        margin-top: 4rem;
    }
}





/* REGISTER */

/* Forms */
.form_register{
    margin-top: 6.5rem;
    gap: 1rem;
    display: grid;
    justify-content: center;
}
@media (max-width: 768px){
    .form_register{
        margin-top: 5rem;
    }
}





/* HOME: */

/* Backgrounds & Images */
.img_buttonGroup_event{
    width: 2rem;
    height: 2rem;
}

/* Texts */
.titleTable{
    font-size: 1.75rem;
    font-weight: 600;
    font-family: sans-serif;
    font-style: oblique;
    margin-top: 3rem;
    margin-bottom: .25rem;
    margin-left: .25rem;
}

/* Forms */
.group_addEvent{
    padding-bottom: 2rem;
}
.formGroup_addEvent{
    display: flex;
}
.form_addEvent{
    display: flex;
    justify-content: center;
    margin-top: -2.25rem;
    margin-bottom: .4rem;
    font-family: var(--primary-font);
}
.form_element{
    font-size: 1.3rem;
}
.form_element::placeholder{
    font-size: 1.1rem;
}
.form_elementSelect{
    font-family: var(--primary-font);
    width: 15.95rem;
}
.submit_formAddEvent{
    padding: .1rem 3rem;
    font-size: 1.2rem;
    border: none;
    color: white;
    background-color: var(--blue);
}
.submit_formAddEvent:hover{
    cursor: pointer;
    transition: 1s;
    color: var(--yellow);
}
@media (max-width: 768px){
    /* How can I do a justify-content: center; of all the form? */
    /* Change it all ---> display grid */
    .form_addEvent{
        margin-left: 1rem;
    }
    .form_element{
        font-size: .45rem;
    }
    .form_element::placeholder{
        padding: 0rem;
        font-size: .75rem;
    }
    .form_elementSelect{
        width: 5rem;
    }
    .submit_formAddEvent{
        padding: .25rem 1.75rem;
        font-size: .75rem;
    }
}

/* Buttons */
.visibilityContents_home{
    /* Add position */
    margin-left: .25rem;
    font-size: 1.8rem;
    border: none;
    background-color: var(--yellow);
    color: black;
}
.visibilityContents_home:hover{
    cursor: pointer;
}
.optionsTable_home{
    padding-top: .25rem;
    padding-bottom: .25rem;
    padding-left: .25rem;
    padding-right: .25rem;
    width: 3rem;
    height: 3rem;
    border: none;
}
.optionsTable_home:hover{
    transition: .25s;
    width: 3.5rem;
    height: 3.5rem;
}
.edit_home{
    margin-right: 2rem;
}
.delete_home{
    margin-left: 2rem;
}
@media(max-width: 768px) {
    .optionsTable_home{
        width: 2.5rem;
        height: 2.5rem;
    }
    .optionsTable_home:hover{
        width: 2.5rem;
        height: 2.5rem;
    }
    .edit_home{
        margin-right: .25rem;
    }
    .delete_home{
        margin-left: .25rem;
    }
}
.addEvent{
    margin-left: 85rem;
    font-size: 2.5rem;
    cursor: pointer;
    width: 3rem;
    height: 3rem;
    border-radius: 2rem;
    color: white;
    background-color: var(--blue);
    border: 1px solid black;
}
.addEvent:hover{
    transition: 1s;
    color: var(--yellow);
}

/* Labels */
.z{
    background-color: red;
}
.sections_home{
    padding: .5rem;
}
.sectionTitle{
    display: flex;
    align-items: flex-end;
    height: 2.25rem;
    background-color: var(--yellow);
}
.table{
    display: inline-block;
    font-family: var(--primary-font);
    background-color: white;
}
.table_Default{
    width: 25rem;
    height: 3rem;
    color: white;
    font-weight: 300;
    background-color: var(--blue);
}
td { /* Style of the boxes in the table */
    text-align: center;
    height: 4rem;
    border-top: 1px solid var(--border-input);
    border-bottom: 1px solid var(--border-input);
    font-weight: 600;
}


















/* EXTRA PART */

/* Home: */
/* Old Home-Page: */
.event_name{
    font-weight: 800;
}
.event_date{
    font-style: oblique;
}
/* Event Page: */
.event_contents{
    font-weight: 600;
    margin-right: 2rem;
}
.event_title{
    font-family: none;
    font-weight: 600;
    font-size: 2.5rem;
    text-decoration: underline;
}
/* ADRESSES */
/* Old Home-Page: */
.a_seeMore_home{
    text-decoration: none;
    color: var(--adress-blue);
}
.a_seeMore_home:hover{
    text-decoration: underline;
}
/* Event Page: */
.nav_eventPage{
    display: flex;
    font-family: var(--primary-font);
    margin-left: 26rem;
    gap: 10rem;
}
.nav_elem{
    font-size: 1rem;
    border: none;
    text-decoration: none;
    cursor: pointer;
    background-color: white;
    color: var(--gray);
}
.nav_elem:hover{
    color: var(--blue);
    font-weight: 600;
}
/*BUTTONS*/
/* Old Home-Page: */
.buttonGroup_home{
    margin-right: 3rem;
    background-color: white;
}
.button_done{
    border: solid 2px var(--background-color);
}
.button_delete_home{
    border: none;
}
/* Event Page: */
.buttonGroup_eventPage{
    display: flex;
    margin-left: 10rem;
    margin-top: 4rem;
    font-family: var(--primary-font);
    gap: 3rem;
}
.button_edit{
    font-size: 1.5rem;
    padding: 0.5rem;
    border-radius: .25rem;
}
.button_delete_eventPage{
    font-size: 1.5rem;
    padding: 0.5rem;
    background-color: var(--background-color);
    border: solid 1px var(--gray);
    border-radius: .25rem;
}
.button_delete_eventPage:hover{
    transition: 0.05s;
    border: solid 2px var(--gray);
    cursor: pointer;
}
/* LABELS: */
/* Old Home-Page: */
.label_eventHome{
    display: flex;
    margin-top: 3.5rem;
    padding: 1rem;
    background-color: white;
    border: solid 1px var(--border-input);
}
.event_initialPosition{
    margin-left: 15rem; /* Try to change it and put the initial posicion in '.event' */
}
.event_elem{
    display: grid;
    place-items: center;
    margin-right: 3rem;
    font-family: var(--primary-font);
}
.event_difficulty{
    padding: 0.5rem 1rem;
    margin-right: 3rem;
    border-radius: 1rem;
    border: solid 2px black;
    background-color: red;
}
/* Event Page: */
.label_eventPage{
    display: block;
    margin-top: 3rem;
    margin-left: 10rem;
    margin-right: 10rem;
    font-family: var(--primary-font);
} 
.elem_eventPage{
    margin-bottom: 2rem;
}
.elem_small{
    display: flex;
}