/* Code made by Max Vilà Ruiz */



/* GLOBAL PART: */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
:root{
    --gray: rgb(150, 148, 148);
    --blue: rgb(75, 155, 245);
    --border-input: rgba(196, 193, 193, 0.9);
    --background-color: rgba(240, 240, 240, 0.850);
    --background-color_Header: rgba(240, 240, 240, 0.8);
    --background-color_mainImg: rgba(240, 240, 240, 0.475);
    --primary-font: 'Sora', sans-serif;
}



/* BACKGROUNDS & IMAGES: */

/* Global Part: */
.body{
    background-color: var(--background-color);
}
.header{
    background-image: url(../img/calendar-background.jpeg); /* Add background-header img */
    background-size: cover;
    position: relative;
}
.header_backGroundImg{
    background-color: var(--background-color_Header);
}
/* Start Page: */
.body_startPage{
    background-image: url(../img/calendar-background.jpeg);
    background-size: cover;
    position: relative;
}
.header_startPage{
    background-color: var(--background-color_Header);
}
.main_startPage{
    background-color: var(--background-color_mainImg);
}
/* Content Page: */
.img_buttonGroup_event{
    width: 2rem;
    height: 2rem;
}



/* TEXTS: */

/* Global: */
h1{
    font-size: 5rem;
    font-weight: 600;
    text-align: center;
}
h2{
    font-size: 2.5rem;
    font-weight: 300;
    font-style: oblique;
    text-align: center;
    color: var(--gray);
}
p{
    font-family: var(--primary-font);
}
.titles{
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    font-family: 'Patua One', cursive;
}
.description{
    text-align: center;
    padding-bottom: .9rem;
    padding-top: .9rem;
    background-color: white;
}
/* Content Page: */
.event_name{
    font-weight: 800;
}
.event_date{
    font-style: oblique;
}
/* Event Page: */
.event_contents{
    font-weight: 600;
    margin-right: 2rem;
}
.event_title{
    font-family: none;
    font-weight: 600;
    font-size: 2.5rem;
    text-decoration: underline;
}



/* FORMS: */ 

/* Global part: */
.formLogReg_other{
    display: flex;
    justify-content: center;
    margin-top: .5rem;
    font-size: 1.2rem;
    gap: .5rem;
    font-family: var(--primary-font);
}
/* Log in: */
.form_login{
    margin-top: 10rem;
    gap: 1rem;
    display: grid;
    justify-content: center;
}
/* Register: */
.form_register{
    margin-top: 6.5rem;
    gap: 1rem;
    display: grid;
    justify-content: center;
}



/* ADDRESSES: */

/* Global part: */
.a_formLogReg_other{
    color: var(--blue);
    text-decoration: none;
}
.a_formLogReg_other:hover{
    cursor: pointer;
    text-decoration: underline;
}
/* Start Page: */
.aGroup_startPage{
    display: grid;
    justify-content: center;
    padding-top: 9rem;
    padding-bottom: 10rem;
    gap: .75rem;
}
.a_startPage{
    font-size: 1.5rem;
    padding: 1.25rem 6rem;
    text-decoration: none;
    border-radius: 1.25rem;
    color: black;
    background-color: var(--blue);
    border: solid 1px black;
    font-family: var(--primary-font);
}
.a_startPage:hover{
    transition: .25s;
    scale: 1.1;
    background-color: var(--blue);
    border: solid 2px black;
}
/* Content Page: */
.a_seeMore_contentPage{
    text-decoration: none;
    color: var(--blue);
}
.a_seeMore_contentPage:hover{
    text-decoration: underline;
}
/* Event Page: */
.nav_eventPage{
    display: flex;
    font-family: var(--primary-font);
    margin-left: 26rem;
    gap: 10rem;
}
.nav_elem{
    font-size: 1rem;
    border: none;
    text-decoration: none;
    cursor: pointer;
    background-color: white;
    color: var(--gray);
}
.nav_elem:hover{
    color: var(--blue);
    font-weight: 600;
}



/* INPUTS: */

/* Global: */
input{
    border: solid 1px var(--border-input);
}
input::placeholder{
    padding-left: .5rem;
    font-family: var(--primary-font);
    font-size: 1.5rem;
    color: var(--gray);
}
/* Log in & Register: */
.input_LogReg{
    font-size: 2rem;
}



/* BUTTONS: */

/* Global: */
.button{
    background-color: var(--blue);
    border: solid 1px black;
}
.button:hover{
    transition: 0.05s;
    border: solid 2px black;
    cursor: pointer;
}
/* Log in and Register: */
.button_LogReg{
    font-size: 2rem;
    padding: 0.5rem;
}
/* Content Page: */
.buttonGroup_contentPage{
    margin-right: 3rem
}
.button_done{
    border: solid 2px var(--background-color);
}
.button_delete_contentPage{
    border: none;
}
/* Event Page: */
.buttonGroup_eventPage{
    display: flex;
    margin-left: 10rem;
    margin-top: 4rem;
    font-family: var(--primary-font);
    gap: 3rem;
}
.button_edit{
    font-size: 1.5rem;
    padding: 0.5rem;
    border-radius: .25rem;
}
.button_delete_eventPage{
    font-size: 1.5rem;
    padding: 0.5rem;
    background-color: var(--background-color);
    border: solid 1px var(--gray);
    border-radius: .25rem;
}
.button_delete_eventPage:hover{
    transition: 0.05s;
    border: solid 2px var(--gray);
    cursor: pointer;
}



/* LABELS: */

/* Content Page: */
.label_eventContentPage{
    display: flex;
    margin-top: 3.5rem;
    padding: 1rem;
    background-color: white;
    border: solid 1px var(--border-input);
}
.event_initialPosition{
    margin-left: 15rem; /* Try to change it and put the initial posicion in '.event' */
}
.event_elem{
    display: grid;
    place-items: center;
    margin-right: 3rem;
    font-family: var(--primary-font);
}
.event_difficulty{
    padding: 0.5rem 1rem;
    margin-right: 3rem;
    border-radius: 1rem;
    border: solid 2px black;
    background-color: red;
}
/* Event Page: */
.label_eventPage{
    display: block;
    margin-top: 3rem;
    margin-left: 10rem;
    margin-right: 10rem;
    font-family: var(--primary-font);
} 
.elem_eventPage{
    margin-bottom: 2rem;
}
.elem_small{
    display: flex;
}